<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OmniSight.UI.Forms.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OmniSight.UI.Forms.Settings>
            <setting name="ColorScheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </OmniSight.UI.Forms.Settings>
    </userSettings>
</configuration>